<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>insert</display-name>
    <servlet-name>insert</servlet-name>
    <servlet-class>insert.insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Connex</display-name>
    <servlet-name>Connex</servlet-name>
    <servlet-class>connex.Connex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connex</servlet-name>
    <url-pattern>/Connex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Composant</display-name>
    <servlet-name>Composant</servlet-name>
    <servlet-class>composant.Composant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Composant</servlet-name>
    <url-pattern>/Composant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>test.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Info</display-name>
    <servlet-name>Info</servlet-name>
    <servlet-class>info.Info</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/Info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Agences</display-name>
    <servlet-name>Agences</servlet-name>
    <servlet-class>agences.Agences</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Agences</servlet-name>
    <url-pattern>/Agences</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Materielcrud</display-name>
    <servlet-name>Materielcrud</servlet-name>
    <servlet-class>materielcrud.Materielcrud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Materielcrud</servlet-name>
    <url-pattern>/Materielcrud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Reparation</display-name>
    <servlet-name>Reparation</servlet-name>
    <servlet-class>reparation.Reparation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reparation</servlet-name>
    <url-pattern>/Reparation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connection</display-name>
    <servlet-name>Connection</servlet-name>
    <servlet-class>connection.Connection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/Connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authent</display-name>
    <servlet-name>authent</servlet-name>
    <servlet-class>connection.authent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authent</servlet-name>
    <url-pattern>/authent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Connexion</display-name>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>connexion.Connexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/Connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect</display-name>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>redirect.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfert</display-name>
    <servlet-name>Transfert</servlet-name>
    <servlet-class>transfert.Transfert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfert</servlet-name>
    <url-pattern>/Transfert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>caracteristique</display-name>
    <servlet-name>caracteristique</servlet-name>
    <servlet-class>Caracteristique.caracteristique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>caracteristique</servlet-name>
    <url-pattern>/caracteristique</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Caracteristique</display-name>
    <servlet-name>Caracteristique</servlet-name>
    <servlet-class>caracteristique.Caracteristique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Caracteristique</servlet-name>
    <url-pattern>/Caracteristique</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testconnex</display-name>
    <servlet-name>testconnex</servlet-name>
    <servlet-class>testconnex.testconnex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testconnex</servlet-name>
    <url-pattern>/testconnex</url-pattern>
  </servlet-mapping>
</web-app>